<!doctype html>
<html lang="vi">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Quản Lý Tài Sản HSU</title>

    <!-- Favicon -->
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="{{ url_for('static', filename='images/favicon-logo.png') }}?v=3"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="{{ url_for('static', filename='images/favicon-logo.png') }}?v=3"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="48x48"
      href="{{ url_for('static', filename='images/favicon-logo.png') }}?v=3"
    />
    <link
      rel="shortcut icon"
      type="image/png"
      href="{{ url_for('static', filename='images/favicon-logo.png') }}?v=3"
    />
    <link
      rel="apple-touch-icon"
      href="{{ url_for('static', filename='images/favicon-logo.png') }}?v=3"
    />

    <script src="https://unpkg.com/lucide@latest"></script>

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/components/header.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/dashboard/dashboard_overview.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/components/table.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/components/table_toolbar.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/components/sonner.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/components/toast.css') }}"
    />
  </head>

  <body id="app-body">
    {% include 'components/header.html' %} {% block content %}{% endblock %} {%
    include 'components/sonner.html' %} {% include 'components/toast.html' %}

    <script>
      const body = document.getElementById("app-body");

      // load trạng thái từ localStorage
      if (localStorage.getItem("theme") === "dark") {
        body.classList.add("dark");
      }

      // toggle button
      function toggleTheme() {
        body.classList.toggle("dark");

        if (body.classList.contains("dark")) {
          localStorage.setItem("theme", "dark");
        } else {
          localStorage.setItem("theme", "light");
        }
      }

      if (window.lucide) {
        lucide.createIcons();
      }
    </script>
  </body>
</html>
