<!doctype html>
<html lang="vi">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>

    <script src="https://unpkg.com/lucide@latest"></script>

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/components/header.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/dashboard/dashboard_overview.css') }}"
    />
  </head>
  <body>
    {% include 'components/header.html' %} {% block content %}{% endblock %}
  </body>
</html>
